/* color palette from <https://github.com/vuejs/theme> */
.bg {
  &--blue {
    background: #2600ff;
  }

  &--red {
    background: #ff0000;
  }

  &--black {
    background: #000000;
  }

  &--white {
    background: #fff;
  }
}
